
.DS_Store
dist
dist-ssr
*.local
count.txt
.env


# Dependencies
node_modules/
dist/


# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Backend khusus
backend/.env
backend/dist/
backend/vendor/
backend/composer.lock
backend/mysql-8.4/


backend/public/uploads/


backend/.DS_Store
backend/Thumbs.db

backend/.idea/
backend/.vscode/

backend/*.log

backend/.phpunit.result.cache
backend/coverage/

backend/storage/
backend/.cache/
backend/*.cache


backend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
*.bak
*.tmp


# Frontend Vite
frontend/node_modules/
frontend/dist/
frontend/.DS_Store
frontend/dist-ssr
frontend/*.local
frontend/.tanstack
frontend/build/
frontend/.nitro
frontend/.env
frontend/.env.local
